<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
      <div class="form-{{class}}">
        <form class="form-inline">
          {{yield}}
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementsByClassName("btn-add-data")[0].addEventListener("click", cleanInputsFields);

  function cleanInputsFields() {

      const inputs = document.getElementsByClassName('form-data');
    console.log("DEBUG:::", "Il essaie de nettoyer", inputs);

      for (const i in inputs) {
        if (inputs.hasOwnProperty(i))
          inputs[i].value = '';
      }
  }

</script>