@import "bootstrap";

body {
  padding-top: 20px;
  background: #efedef;
}
.navbar.navbar-inverse {
  background :#57585a;
  border:0;
  border-raduis:0;
}

.login_page, .contact_page {
  width: 50%;
  margin: 0 auto;
  padding: 50px 20px;
  background: #fff;
  box-shadow: 1px 1px 10px #57585a;
  border-radius: 10px;
}
.login_page input {
  margin: 10px 0;
  height: 34px !important;
  font-size: 15px !important;
  border: 1px solid #57585a;
}
.message_login {
  font-size: 0.8em;
  color: #d81565;
  margin-top: 12px;
  margin-bottom: 12px;
  font-style: italic;
}

.btn-block {
  background: #f27e16;
  height: 35px;
  line-height: 3px;
  border: 0;
  margin: 20px 0;
}

.btn-orange {
  background: #f27e16;
  border: 0;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.5;
}
.image_login {
  display: block;
  margin: 0 auto;
}
.login_page h3,  h4 {
  border-bottom: 2px solid #57585a;
  padding: 0 0 15px 0;
  text-align: center;
  margin: 0 auto;
  color: #f27e16;
  font-size: 25px;
  text-shadow: 1px 2px 2px #57585a;
  text-transform: uppercase;
  width: 75%;
}

.form-horizontal  {
  margin-top: 20px;
}

h5 span {
  font-weight: bold;
  text-decoration:underline;
}
.panel-default > .panel-heading {
  background: #f27e16;
  font-size: 20px;
  color: #fff;
}
.panel-default {
  box-shadow: 2px 2px 5px;
}

.notes_ue div> div{
  vertical-align: middle;

  //padding: 5px;
  display: inline-block;
}

.note {
  width: 60px;
  //line-height: 30px;
  height: 50px;
  text-align: center;
  margin: 5px 10px;
  font-size: 14px;
  border: 1px solid;
}
.note label {
  font-size: 9px;
  font-style: italic;
  margin-bottom: 0;

}
.sur {
  font-size: 10px;
}
.navbar.navbar-inverse {
  background: transparent;
}
.container_nav {
  float: right;
  background: #57585a;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #f27e16;
}


.navbar-inverse .navbar-nav > li > a {
  padding: 20px 15px;
  color:#fff;
}

.navbar-inverse .navbar-nav > li > a span {
  margin-right: 5px;
}
.ue {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: inherit;
  text-decoration: underline;
}
