{{partial 'navbar'}}
<div class="login_page">
  <h1> Bienvennue sur l'application </h1>
  <p> Cet outil permet de saisir des notes concernant une UE de manière collaborative sur le web.</p>
  <p>Il permet aussi au étudiants de consulter les notes de chaque UE.</p>

<img src="/assets/images/merci_20.png" style="margin: 0 auto; display: block;" width="350" />
  {{#link-to 'login'}}<a style="padding: 0;line-height: 35px;" class="btn btn-primary btn-lg btn-block">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    Se connetcer</a>{{/link-to}}
</div>